@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

header img {
  width: 350px;
  height: 50px;
  margin: 5px;
  margin-left: 160px;
}

.search-bar {
  background-color: aliceblue;
  width: 450px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-bar h4 {
  margin: 5px;
  font-weight: 450;
  color: rgb(98, 98, 98);
}

.search-bar h4 #search {
  margin: 5px;
  font-weight: 450;
}

ul {
  list-style-type: none;
  margin: 10px 15px;
  margin-right: 35px;
  padding: 5px;
  overflow: hidden;
}

li {
  float: right;
  display: flex;
  padding: 2px;
  justify-content: flex-end;
}

li a {
  display: inline;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 2px;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

li a:hover {
  display: inline;
  color: #0ddabe;
  text-align: center;
  margin: 2px;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

li .cart {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: none;
  border-color: rgb(255, 255, 255);
}

li .cart:hover {
  color: #0ddabe;
  background-color: rgb(0, 0, 0);
  border: 2px solid #0ddabe;
  border-radius: none;
}

.navbar {
  background-color: rgb(13, 218, 190);
  margin-top: -15px;
}

li .menu {
  color: rgb(0, 0, 0);
  background-color: rgb(13, 218, 190);
  font-weight: 650;
}

ul.nama {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Breadcrumbs */

.breadcrumb {
  padding-left: 55px;
}

.bread li {
  float: left;
  display: flex;
  align-items: center;
}

.bread li span {
  font-weight: 700;
}

/* Section 1 */

section .one {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  background-position: center;
  background-size: cover;
}

/* Grid */

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(139, 243, 229)
  );
  width: 80vw;
  height: 550px;
}

.top img {
  height: 540px;
  margin-left: 95px;
}

.top h3 {
  color: rgb(28, 152, 24);
  margin-top: 10px;
}

.top h4 {
  color: rgb(3, 66, 103);
  margin-top: 75px;
  font-size: 25px;
  font-weight: 800;
}

.top h5 {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 750;
}

.top a {
  text-decoration: none;
  padding: 15px 35px;
  margin: 2px 10px;
  background-color: rgb(13, 218, 190);
}

.top a:hover {
  background-color: rgb(12, 169, 148);
  color: rgb(180, 255, 94);
  transition: 0.3s;
}

.top .size li a {
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0);
  padding: 0px;
  margin: 0px;
  font-size: 17px;
}

.buy a {
  color: rgb(0, 0, 0);
  width: 300px;
  font-weight: 600;
}

.top .desc {
  height: 500px;
  width: 550px;
  padding: 30px;
  margin-left: 300px;
}

.bottom {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 30px 170px;
  background-color: #f5f5f5;
}

.left {
  width: 25vw;
  background-color: rgb(188, 245, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 450px;
}

.left img {
  width: 480px;
  height: 449px;
}

.center {
  width: 25vw;
  background-color: rgb(188, 245, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 450px;
}

.center img {
  width: 480px;
  height: 449px;
}

.right {
  width: 25vw;
  background-color: rgb(188, 245, 237);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 450px;
}

.right img {
  width: 480px;
  height: 449px;
}

/* size */

.size ul {
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
  margin-bottom: 40px;
}

.size ul li {
  display: flex;
  justify-content: center;
  margin: 3px;
  width: 35px;
  height: 35px;
  border: solid 2px black;
}

/* Footer */
.footer {
  height: 450px;
  background-color: black;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
}

.footer-logo img {
  width: 550px;
  height: 80px;
}

.f-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 290px;
}

.about-us {
  color: white;
  width: 20vw;
  height: 170px;
  padding: 10px 15px;
}

.help {
  color: white;
  width: 20vw;
  height: 170px;
  padding: 10px 15px;
}

.faq {
  color: white;
  width: 20vw;
  height: 170px;
  padding: 10px 15px;
}

.social {
  font-size: 34px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(0, 0, 0);
  margin: 15px 850px;
  margin-top: 38px;
}

.social a {
  text-decoration: none;
  color: aliceblue;
}

.social a:hover {
  color: rgb(13, 218, 190);
  transition: 0.3s;
}

.f-content h2 {
  color: rgb(13, 218, 190);
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.f-content h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.copyright {
  display: flex;
  height: 40px;
  justify-content: center;
  color: white;
  background-color: rgb(38, 38, 38);
}

.copyright h5 {
  font-size: 16px;
  margin: 5px 0px;
  font-weight: 430;
}
