@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,200;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

header img {
  width: 350px;
  height: 50px;
  margin: 5px;
  margin-left: 160px;
}

.search-bar {
  background-color: aliceblue;
  width: 450px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-bar h4 {
  margin: 5px;
  font-weight: 450;
  color: rgb(98, 98, 98);
}

.search-bar h4 #search {
  margin: 5px;
  font-weight: 450;
}

ul {
  list-style-type: none;
  margin: 10px 15px;
  margin-right: 35px;
  padding: 5px;
  overflow: hidden;
}

li {
  float: right;
  display: flex;
  padding: 2px;
  justify-content: flex-end;
}

li a {
  display: inline;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 2px;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

li a:hover {
  display: inline;
  color: #0ddabe;
  text-align: center;
  margin: 2px;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
}

li .cart {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: none;
  border-color: rgb(255, 255, 255);
}

li .cart span{
  color: #0ddabe;
}

li .cart:hover {
  color: #0ddabe;
  background-color: rgb(0, 0, 0);
  border: 2px solid #0ddabe;
  border-radius: none;
}

.navbar {
  background-color: rgb(13, 218, 190);
  margin-top: -15px;
}

li .menu {
  color: rgb(0, 0, 0);
  background-color: rgb(13, 218, 190);
  font-weight: 650;
}

ul.nama {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Login */

/* .login{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: aquamarine;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  margin: 30px 450px;
  height: 75vh;
} */

.section1{
  display: flex;
  height: 75vh;
  background-image: url("/img/login-bg.png");
}

.section1 img{
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.login{
  display: block;
  float: left;
  border-radius: 15px;
  background-color: rgb(214, 238, 232);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  height: 68vh;
  width: 860px;
  margin: 25px 30px;
}

h2{
  text-align: center;
  margin: 15px;
  margin-top: 40px;
  font-size: 35px;
}

p{
  text-align: center;
  margin: 15px;
  margin-bottom: 50px;
}

label{
  font-size: 18px;
  font-weight: 600;
  margin: 100px;
}

input {
  width: 650px;
  padding: 12px 10px;
  margin: 15px;
  margin-left: 100px;
}

button{
  text-decoration: none;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: black;
  margin: 30px 150px;
  padding: 15px 250px;
  background-color: rgb(13, 218, 190);
}

button:hover {
  color: rgb(13, 218, 190);
  transition: 0.3s;
  background-color: black;
}

h4{
  font-weight: 400;
  margin-left: 260px;
}

h4 a{
  color: black;
  font-weight: 600;
}

h4 a:hover{
  color: #4b4b4b;
}

/* Footer */
.footer {
  height: 450px;
  background-color: black;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
}

.footer-logo img {
  width: 550px;
  height: 80px;
}

.f-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 290px;
}

.about-us {
  color: white;
  width: 20vw;
  height: 170px;
  padding: 10px 15px;
}

.help {
  color: white;
  width: 20vw;
  height: 170px;
  padding: 10px 15px;
}

.faq {
  color: white;
  width: 20vw;
  height: 170px;
  padding: 10px 15px;
}

.social {
  font-size: 34px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: rgb(0, 0, 0);
  margin: 15px 850px;
  margin-top: 38px;
}

.social a {
  text-decoration: none;
  color: aliceblue;
}

.social a:hover {
  color: rgb(13, 218, 190);
  transition: 0.3s;
}

.f-content h2 {
  color: rgb(13, 218, 190);
  font-size: 28px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.f-content h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
}

.copyright {
  display: flex;
  height: 40px;
  justify-content: center;
  color: white;
  background-color: rgb(38, 38, 38);
}

.copyright h5 {
  font-size: 16px;
  margin: 5px 0px;
  font-weight: 430;
}